# binarization

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split,cross_val_score

from sklearn.tree import DecisionTreeClassifier

from sklearn.compose import ColumnTransformer

from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('Titanic-Dataset.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [3]:
df.dropna(inplace=True)

In [4]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [5]:
df['Family']=df['SibSp']+df['Parch']

In [6]:
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [7]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [8]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [9]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
# without binariztion
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
print(accuracy_score(y_pred,y_test))

0.6223776223776224

In [12]:
np.mean(cross_val_score(clf,x,y,scoring='accuracy',cv=10))

np.float64(0.6513302034428795)

In [13]:
# binarization 
from sklearn.preprocessing import Binarizer

In [14]:
trf=ColumnTransformer([
    ('bin',Binarizer(copy=False),['Family']),
    ],remainder='passthrough')

In [15]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf=trf.transform(x_test)

In [16]:
x_train_trf

array([[  1.    ,  31.    ,  20.525 ],
       [  1.    ,  26.    ,  14.4542],
       [  1.    ,  30.    ,  16.1   ],
       ...,
       [  0.    ,  41.    , 134.5   ],
       [  1.    ,  33.    ,  20.525 ],
       [  0.    ,  33.    ,   7.8958]])

In [17]:
pd.DataFrame(x_train_trf,columns=['Family','Age','Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [18]:
clf1=DecisionTreeClassifier()
clf1.fit(x_train_trf,y_train)
y_pred1=clf.predict(x_test_trf)
accuracy_score(y_pred1,y_test)

c:\Users\hp\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

0.6153846153846154

In [19]:
x_trf=trf.fit_transform(x)
np.mean(cross_val_score(clf1,x_trf,y,scoring='accuracy',cv=10))

np.float64(0.6247848200312989)