In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import MissingIndicator,SimpleImputer

In [3]:
df=pd.read_csv('Titanic-Dataset.csv',usecols=['Age','Fare','Survived'])

In [4]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [5]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [7]:
x_train.head()

      Age      Fare
451   NaN   19.9667
345  24.0   13.0000
687  19.0   10.1708
279  35.0   20.2500
742  21.0  262.3750

In [8]:
# not applying missing indicator here sida simple imputer lata

In [9]:
si=SimpleImputer()
x_train_trf=si.fit_transform(x_train)
x_test_trf=si.transform(x_test)

In [11]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)

y_pred=lr.predict(x_test_trf)

from sklearn.metrics import accuracy_score

accuracy_score(y_pred,y_test)

0.6567164179104478

In [12]:
# here we wil apply it beffore simple imputer

In [14]:
mi=MissingIndicator()
x_train_missing=mi.fit_transform(x_train)
x_test_missing=mi.transform(x_test)

In [20]:
mi.features_  # it gives the column index which has missing values

array([0])

In [21]:
x_train['age_NA']=x_train_missing

In [22]:
x_test['age_NA']=x_test_missing

In [23]:
x_train

      Age      Fare  age_NA
451   NaN   19.9667    True
345  24.0   13.0000   False
687  19.0   10.1708   False
279  35.0   20.2500   False
742  21.0  262.3750   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[623 rows x 3 columns]

In [24]:
si=SimpleImputer()
x_train_trf2=si.fit_transform(x_train)
x_test_trf2=si.transform(x_test)

In [25]:
lr=LogisticRegression()
lr.fit(x_train_trf2,y_train)
y_pred_1=lr.predict(x_test_trf2)

accuracy_score(y_pred_1,y_test)

0.6567164179104478

In [26]:
# simple code here

In [29]:
si=SimpleImputer(add_indicator=True)

x_train_trf_3=si.fit_transform(x_train)
x_test_trf_3=si.transform(x_test)

lr=LogisticRegression()
lr.fit(x_train_trf_3,y_train)
y_pred_2=lr.predict(x_test_trf_3)

accuracy_score(y_pred_2,y_test)

0.6567164179104478