# knn imputer is used to impute or fill the nan values with bivariante imputation means duji cols to value chakni keda closest aa

In [30]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

In [31]:
df=pd.read_csv('Titanic-Dataset.csv')[['Age','Fare','Survived','Pclass']]

In [32]:
df

      Age     Fare  Survived  Pclass
0    22.0   7.2500         0       3
1    38.0  71.2833         1       1
2    26.0   7.9250         1       3
3    35.0  53.1000         1       1
4    35.0   8.0500         0       3
..    ...      ...       ...     ...
886  27.0  13.0000         0       2
887  19.0  30.0000         1       1
888   NaN  23.4500         0       3
889  26.0  30.0000         1       1
890  32.0   7.7500         0       3

[891 rows x 4 columns]

In [33]:
df.isnull().mean()*100

Age         19.86532
Fare         0.00000
Survived     0.00000
Pclass       0.00000
dtype: float64

In [34]:
x=df.drop(columns=['Survived'])

y=df['Survived']

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [36]:
x_train.head()

      Age     Fare  Pclass
445   4.0  81.8583       1
650   NaN   7.8958       3
172   1.0  11.1333       3
450  36.0  27.7500       2
314  43.0  26.2500       2

In [37]:
x_train.isnull().mean()*100

Age       19.903692
Fare       0.000000
Pclass     0.000000
dtype: float64

In [38]:
knn=KNNImputer(n_neighbors=10,weights='distance')
x_train_trf=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)

In [39]:
x_train_trf

array([[  4.    ,  81.8583,   1.    ],
       [ 28.    ,   7.8958,   3.    ],
       [  1.    ,  11.1333,   3.    ],
       ...,
       [ 41.    ,  14.1083,   3.    ],
       [ 14.    , 120.    ,   1.    ],
       [ 21.    ,  77.2875,   1.    ]])

In [40]:
df1=pd.DataFrame(x_train_trf,columns=x_train.columns)

In [41]:
df1.isnull().sum()

Age       0
Fare      0
Pclass    0
dtype: int64

In [42]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)

from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.7126865671641791