# iterative imputer or MICE (multivariante imputation by chained equations)

In [2]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

In [3]:
data = {
    "age": [25, np.nan, 30, 35, np.nan, 40],
    "salary": [50000, 60000, np.nan, 80000, 90000, np.nan],
    "experience": [1, 3, 5, np.nan, 7, 9]
}

In [4]:
df=pd.DataFrame(data)

In [8]:
print(f"before imputation \n{df}")

before imputation
    age   salary  experience
0  25.0  50000.0         1.0
1   NaN  60000.0         3.0
2  30.0      NaN         5.0
3  35.0  80000.0         NaN
4   NaN  90000.0         7.0
5  40.0      NaN         9.0

In [10]:
imputer=IterativeImputer(estimator=BayesianRidge(),max_iter=10,random_state=42)

In [11]:
imputed_data=imputer.fit_transform(df)

In [13]:
pd.DataFrame(imputed_data,columns=df.columns)

         age        salary  experience
0  25.000000  50000.000000    1.000000
1  28.343004  60000.000000    3.000000
2  30.000000  64932.614930    5.000000
3  35.000000  80000.000000    6.252851
4  38.322211  90000.000000    7.000000
5  40.000000  94986.837247    9.000000